body{margin: 0;}

.banner{
    height: 605px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: raleway, Arial, Helvetica, sans-serif;
    background: url(../images/banner.png), linear-gradient(#000000, #041f33, #000000);
    background-size: cover;
    background-blend-mode: lighten;
    border-bottom: #33A8DB 1px solid;
    padding: 60px;
}

.banner-content {
    margin: auto;
    width: 600px;
    text-align: center;
}

@font-face {
    font-family: raleway;
    src: url(../images/Raleway-VariableFont_wght.ttf);
}

h1{
    font-weight: 900;
    background-image: linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
}

.banner .banner-content p {
    font-family: raleway, Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
    font-size: 20px;
}

.banner .banner-content button {
    font-family: raleway;
    font-weight: 900;
    padding: 19px 91px 19px 91px;
    border: #3BA8DD 2px solid;
    background-image: linear-gradient(#3BA8DD, #1472B7);
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
    font-size: 1rem;
}

#course-content{
    background-color: black;
    text-align: center;
    align-items: center;
    border-bottom: #33A8DB 1px solid;
    font-family: raleway, Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1rem;
    white-space: pre;
    margin: 0;
}

h2{
    color: #3BA8DD;
    text-transform: uppercase;
    font-size: 2rem;
}
