body{margin: 0; background-color: black; text-align: center;}

.banner{
    height: 605px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: raleway, Arial, Helvetica, sans-serif;
    background: url(../images/banner.png), linear-gradient(#000000, #041f33, #000000);
    background-size: cover;
    background-blend-mode: lighten;
    border-bottom: #33A8DB 1px solid;
    padding: 60px;
}

.banner-content {
    margin: auto;
    width: 600px;
    text-align: center;
}

@font-face {
    font-family: raleway;
    src: url(../images/fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: "bold raleway";
    src: url(../images/fonts/Raleway-Black.ttf);
}

h1{
    font-weight: 900;
    background-image: linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
}

.banner .banner-content p {
    font-family: raleway, Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
    font-size: 20px;
}

.banner .banner-content button {
    font-family: raleway;
    font-weight: 900;
    padding: 19px 91px 19px 91px;
    border: #3BA8DD 2px solid;
    background-image: linear-gradient(#3BA8DD, #1472B7);
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
    font-size: 1rem;
}

#course-content{
    background-color: black;
    text-align: center;
    font-family: raleway, Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1rem;
    width: 800px;
    margin: 100px auto;
}

h2{
    color: #3BA8DD;
    text-transform: uppercase;
    font-size: 2rem;
}

p{
    white-space: pre;
}

.modules-list{
    display: grid;
    font-size: 1rem;
    justify-content: center;
    justify-items: center;
}

.module{
    background-color: rgba(37, 37, 37, 1);
    border-radius: 57px;
    border: 1px solid #3BA8DD;
    padding: 1rem 127px 1rem 127px;
    box-shadow: inset -10px 10px 5px rgb(0,0,0, 0.4);
    margin: 0 auto calc((16px / 2) * 3);
    width: 22vw;
}

span{
    color: #3BA8DD;
}

#transform-world{
    background-image: url(../images/woman-code.png);
    background-size: cover;
    border: 1px 0px 1px 0px solid #3BA8DD;
    max-height: 560px;
    background-attachment: fixed;
    padding: 200px;
}

#transform-world p{
    width: 245px;
    color: white;
    text-shadow: 3px 2px #3BA8DD;
    text-transform: lowercase;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: left;
    white-space: normal;
    font-family: "bold raleway";
}

#professional-challenges{
    font-family: raleway, Arial, Helvetica, sans-serif;
    text-align: center;
}